<div class="container">
    <h1>Message de la part de : {{ contact.nom }}</h1>
    <p>Email du demandeur: {{ contact.email }}</p>
    <p>sujet: {{ contact.sujet }}</p>
    <p>Message: {{ contact.message|raw }}</p>
</div>
