{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class=" text-center mb-5">Modifier mes informations : </h1>
        <div class="col-10 mx-5">
            {{ form(form)}}
            <a href="{{ path('users')}}" class="btn text-white">Annuler</a>
        </div>
    </div>
{% endblock %}
